---
import "../../styles/globals.css";
import NavbarIsland from "@/components/islands/NavbarIsland";
import Footer from "@/components/organism/Footer";

interface Props {
  title?: string;
  description?: string;
  lang?: string;
  image?: string;
}

const {
  title = "mogumogu's blog",
  description = "",
  lang = "en",
  image = "",
} = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    {description && <meta property="og:description" content={description} />}
    <meta property="og:type" content="article" />
    {image && <meta property="og:image" content={image} />}
    <!-- Twitter -->
    <meta
      name="twitter:card"
      content={image ? "summary_large_image" : "summary"}
    />
    <meta name="twitter:title" content={title} />
    {description && <meta name="twitter:description" content={description} />}
    {image && <meta name="twitter:image" content={image} />}
  </head>
  <body>
    <NavbarIsland client:only="react" />
    <slot />
    <Footer client:only="react" />
  </body>
</html>
